body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(211, 218, 235); */
  font-size: 62.5%;
  width: 90%;
  height: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2.5rem;
}
p {
  font-size: 1rem;
}
a {
  font-size: 1rem;
  text-decoration: none;
}
div {
  font-size: 1rem;
}
.App {
  height: 100%;
  min-height: 100%;
}
.home-container {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
}

.home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.search-container {
  margin-left: 20px;
}

.search-box,
.query-box {
  width: 150px;
  border-radius: 6px;
  padding: 5px;
  border: 2px solid rgb(55, 95, 202);
}
.clear-button {
  background: rgb(160, 102, 25);
  padding: 7px 5px 5px 5px;
  border-radius: 6px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  font-size: 0.7rem;
  height: 20px;
  width: 70px;
}

.clear-button:hover {
  background: rgb(196, 130, 44);
}

.query-container {
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

.solo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

.single-item {
  background: rgb(55, 95, 202);
  border-radius: 4px;
  padding: 10px;
  margin: 10px 3px;
  min-width: 70px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.single-item:hover {
  background: rgb(85, 116, 199);
}

.start-container {
  text-align: center;
  margin-top: 10%;
}

.start-button {
  text-align: center;
  border-radius: 6px;
  background: darkgreen;
  color: white;
  width: 150px;
  margin: 0 auto;
  padding: 5px;
}

.start-button:hover {
  background: rgb(1, 126, 1);
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  font-size: 1rem;
}

.loading {
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
}

.icon {
  margin-right: 10px;
}

.footer-icons > * {
  margin-right: 30px;
}
.linkedin-icon {
  margin: 0;
}

.mail-icon:hover {
  color: rgb(17, 106, 141);
}
.github-icon:hover {
  color: black;
}

.linkedin-icon:hover {
  color: rgb(26, 101, 212);
}

.footer-container {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
